#brands {
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin: 3% 4%;

	grid-row-gap: 45px;
	grid-column-gap: 40px;
}

.brand {
	border: 1px solid #232627;
	border-radius: 20px;
	background-color: #FCFCFCdf;

	width: 250px;
	height: 280px;

}

.brand-info {
	display: inline-block;
	padding-top: 70%;
	padding-left: 8px;
	padding-right: 8px;
}

.brand-info h4 {
	font-size: 22px;
	margin-bottom: -20px;
}

.brand-info p {
	font-size: 18px;
}

.brand {
	background-repeat: no-repeat; 
	background-size: cover;
}

.brand a {
	text-decoration: none;
	color: #101010;
}

.brand a:hover {
	color: #232627;
}

#rem {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.7) 25%, rgba(255,255,255,0) 40%), url("../media/rem.jpg");
}

#hachiman {
	background-image: linear-gradient(0deg, rgba(255,255,255,0.7) 25%, rgba(255,255,255,0) 40%), url("../media/Hachiman.jpg");
	background-size: center;
}

body { background-image: url("../media/City.png");
background-repeat: no-repeat; background-size: center;}

@media only screen and (max-device-width: 480px) {
	#brands {
		padding-left: 7%;
		grid-template-columns: auto;
	}
}
