.textbox {
        background-color: #FCFCFCdf;

        margin: auto;
        width: 80%;
        border: 3px solid #232627;
        padding: 30px;

}

.textbox .heading,
.textbox .text{
        text-align: center;
}

@media only screen and (max-device-width: 480px) {
	.textbox {
		width: 90%;
        	padding: 10px;
        	margin-top: 8%;
        	border: 3px solid #232627;
	}
}
