/* fonts */
/*.head, .site-title-container nav { 
	font-family: "Roboto";
	font-weight: 400;
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* { 
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1rem;
        transition-duration: 0.4s;
}


body {
	margin: 0px;
	background-color: #f8eeb4;
}

.main {
	padding-top: 78px;
	padding-bottom: 16px;

	width: 90%;
	margin: auto;
}

hr {
	border: 0.25px solid #232627; 
}

button {
        color: #FFFFFF;
        background-color: #333333;
        display: inline;

        border: 1px solid #f487c3;
	border-radius: 17px;
        

        cursor: pointer;
	height: 35px;

	font-size: 16px;
}
button:hover {
        color: #37d29e;
        border-color: #37d29e;
}
button:active {
	text-decoration: none;
        color: #333333;
}

.bottom-menu {
	position: fixed;
	bottom: 0;
	z-index: 2;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	width: 100%;
	height: 3rem;

	background-color: #232627dd;
	color: white;
}

.bottom-menu * {
	margin: auto 0.3rem;
}

.bottom-menu .fa {
	font-size: 2rem;
}
.bottom-menu .fa-whatsapp {
	font-size: 2.2rem;
}

.bottom-menu a {
	color: #FFFFFF;
}
#wa-icon {
	color: #47C556;
}
#ig-icon {
	color: #C7137F;
}
#fb-icon {
	color: #4862A2;
}
#yt-icon {
	color: #C81F1F;
}
#twt-icon {
	color: #2CA7EF;
}

.content-blocks {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
}
.content-block {
	background-color: #FCFCFCdd;
	border: 2px solid #232627;
	padding: 20px;
	margin: 20px;
	height: 350px;
	box-shadow: 1px 1px 4px #232627;
}

.site-title-container {
	background-color: #37d29e;
	padding: 10px;
}
.site-title {
        color: #682518;
        font-size: 28px;
	margin: 0px; /* remove from .head if not modified */
}
.site-subtitle {
	color: #232627;
	margin: -8px 0px 0px 0px;
}

.head {
	background-color: #232627dd;
	display: flex;
	flex-direction: row;
        flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	z-index: 1;

       
        position: fixed;
	top: 0;
	overflow: hidden;

	width: 100%;
	margin: 0px;
	height: 55px;
}

.head a { text-decoration: none; }

.head .site-title-container {
	height: 48px;
	padding: 2px 0px 5px 0px;
	display: inline-block;
	border-radius:  0px 30px 30px 0px;
}
.head .site-title{
	font-size: 1.3rem;
	padding: 0.3rem 16px 0px 8px;
	margin: 0px;
	display: block;
}
.head .site-subtitle {
	font-size: 1rem;
	padding: 3px 20px 0.2rem 8px;
	display: block;
}

/*.head .site-subtitle{
	font-size: 1rem;
	padding: 3px 16px 0px 8px;
	display: block;
}*/

.head .locate-button {
	display: inline-block;
	justify-self: flex-start;
	/*position: absolute;
	right: 295px;
	top: 10px;*/
	margin-left: auto;
	margin-right: 8px;
}

nav {
        background-color: #FFFFFF;
        border-radius: 27px 0px 0px 27px;
	overflow: hidden;

	display: inline-block;
	/*position: absolute;
	right: 0;
	width: 260px;*/
	height: 55px;
        padding: 0px 20px;
}

nav a {
        color: #232627;
	display: inline; 
	vertical-align: middle;
	line-height: 55px;
        font-size: 1rem;
        padding: 0.2rem;
}
nav a:hover {
        color: #f487c3;
        font-size: 1.2rem;
}
nav a:active {
        color: #37d29e;
}

.footer {
        background-color: #66769f;
}
.footer .flex-container a {
	text-decoration: none;
	color: #66769f;
}
.footer .flex-container a:hover {
	color: #37D29E;
}

.footer .flex-container {
	padding: 2rem 3rem 4rem 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
}
.footer .flex-content {
        background-color: #FCFCFCdf;
        border: 3px solid #232627;
	margin: 2rem 2rem;

	overflow: hidden;
	
	width: 24rem;
        height: 20rem;
        
	/*width: 22rem;
        height: 20rem;*/
}
.footer .flex-content .title {
	display: inline-block;
	font-style: bold;
	font-size: 1.5rem;
	margin: 0.5rem;
}
.footer .flex-content .title a {
	font-size: 1.5rem;
}

.footer .address {
	width: 100%;
	display: inline-block;
	background-color: lightgrey;
	padding: 0.4rem 0rem;
}
.footer .address p {
	font-size: 1.1rem;
	margin: 0.5rem;
}
.footer .address .fa {
	font-size: 1rem;
}

.map {
        border: 3px solid #232627;
	width: 34rem;
	height: 24rem;
}

@media only screen and (max-device-width: 480px) {
	.head {
		position: static;
		flex-wrap: wrap;
		height: auto;
	}
	nav {
		margin-left: auto;
	}
	.head .locate-button {
		margin: auto;
	}
	.main {
		padding-top: 15px;
		padding-bottom: 16px;
		width: 93%;
		margin: auto;
	}
	.bottom-menu .menu-buttons {
		display: none;
	}
	.bottom-menu {
		flex-direction: row-reverse;
		justify-content: center;
	}
	.button {
		height: 35px;
		width: 90px;
	}
	.content-block {
		padding: 8px;
		margin: 12px;
	}
	.footer .flex-container {
		padding: 0.5rem 0.5rem 4rem 0.5rem;
	}
	.footer .flex-content {
		margin: 1rem auto;
		width: 21rem;
        	height: 18rem;
	}
}
