/* fonts */
/*.head, .site-title-container nav { 
	font-family: "Roboto";
	font-weight: 400;
}*/

* { 
	font-family: "Roboto";
	font-weight: 400;
	font-size: 1rem;
}


body {
	margin: 0px;
	background-color: #f8eeb4;
}

.main {
	padding-top: 78px;
	padding-bottom: 16px;

	width: 90%;
	margin: auto;
}

hr {
	color: #232627; 
}

.button {
        color: #FFFFFF;
        background-color: #333333;
        display: inline;

        border: 1px solid #f487c3;
	border-radius: 17px;
        

        transition-duration: 0.4s;
        cursor: pointer;
	height: 35px;
	width: 90px;

	font-size: 16px;
}
.button:hover {
        color: #37d29e;
        border-color: #37d29e;
}
.button:active {
	text-decoration: none;
        color: #333333;
}

/* default flex properties */
.flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
	justify-content: space-between;
}

.content-blocks {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
}
.content-block {
	background-color: #FCFCFCdd;
	border: 3px solid #232627;
	padding: 20px;
	margin: 20px;
	height: 350px;
}

.site-title-container {
	background-color: #37d29e;
	padding: 10px;
}
.site-title {
        color: #682518;
        font-size: 28px;
	margin: 0px; /* remove from .head if not modified */
}
.site-subtitle {
	color: #232627;
	margin: -8px 0px 0px 0px;
}

.head {
	background-color: #232627dd;
	display: flex;
	flex-direction: row;
        flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

       
        position: fixed;
	top: 0;
	overflow: hidden;

	width: 100%;
	margin: 0px;
	height: 55px;
}

.head a { text-decoration: none; }

.head .site-title-container {
	height: 48px;
	padding: 2px 0px 5px 0px;
	display: inline-block;
	border-radius:  0px 30px 30px 0px;
}
.head .site-title{
	font-size: 1.3rem;
	padding: 0.3rem 16px 0px 8px;
	margin: 0px;
	display: block;
}
.head .site-subtitle {
	font-size: 1rem;
	padding: 3px 20px 0.2rem 10px;
	display: block;
}

/*.head .site-subtitle{
	font-size: 1rem;
	padding: 3px 16px 0px 8px;
	display: block;
}*/

.head .locate-button {
	display: inline-block;
	justify-self: flex-start;
	/*position: absolute;
	right: 295px;
	top: 10px;*/
	margin-left: auto;
	margin-right: 8px;
}

nav {
        background-color: #FFFFFF;
        border-radius: 27px 0px 0px 27px;
	overflow: hidden;

	display: inline-block;
	/*position: absolute;
	right: 0;
	width: 260px;*/
	height: 55px;
        padding: 0px 20px;
}

nav a {
        color: #232627;
	display: inline; 
	vertical-align: middle;
	line-height: 55px;
        font-size: 1rem;
        padding: 0.2rem;
}
nav a:hover {
        color: #f487c3;
        font-size: 1.2rem;
}
nav a:active {
        color: #37d29e;
}





.footer {
        background-color: #66769f;
}

.footer .flex-content {
        flex-grow: 3;
        background-color: #FCFCFCdf;
        border: 3px solid #232627;

        margin: 45px;
        padding: 15px;

        width: 270px;
        height: 270px;
}

@media only screen and (max-device-width: 480px) {
	.head {
		position: static;
		flex-wrap: wrap;
		height: auto;
	}
	/*.head .site-title {
		font-size: 1.4rem;
		padding: 6px 20px 0px 10px;
	}
	.head .site-subtitle {
		font-size: 1rem;
		padding: 3px 20px 3px 10px;
		display: block;
	}*/
	nav {
		margin-left: auto;
	}
	nav a {
		/*font-size: 1.1rem;
		padding: 5px;*/
	}
	.head .locate-button {
		margin: auto;
	}
	.main {
		padding-top: 15px;
		padding-bottom: 16px;
		width: 93%;
		margin: auto;
	}
	/*.head .site-title-container {
		display: none;
	}
	.head .locate-button {
		left: 4px;
	}*/
	.button {
		height: 35px;
		width: 90px;
	}
	/*nav {
		width: 253px;
	}*/
	.content-block {
		padding: 8px;
		margin: 12px;
	}
}
