#navbar .link {
        padding-top: 1%;
        padding-right: 10px;
        float: right;
}


#site-logo {
        float: left;
}

#locate-button {
        margin-top: -2px;
        border: 1px solid #f487c3;
        background-color: #232627;
        border-radius: 15px;
        color: #FFFF;
	padding: 4px 10px;
}

#hamburger-button {
	display: fixed;
}
