<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/brandsPage.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kalawati Enterprises Homepage (beta)</title>
</head>
<body>
{{ template "site-header.html" .}}

<div class="main" id="brands-main">

	<div class="tiles-container" id="brands">

		<div class="tile" id="hachiman">
			<div class="info"></div>
		</div>
		<div class="tile" id="ishigami">
			<div class="info"></div>
		</div>
		<div class="tile" id="kaguya">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
		<div class="tile" id="">
			<div class="info"></div>
		</div>
	</div>
</div>

{{ template "site-footer.html" .}}
</body>
</html>
