<!DOCTYPE html>
<html lang="en-IN">
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/brands.css" type="text/css"/>
	<script src="https://kit.fontawesome.com/b26fa8d786.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kalawati Enterprises Homepage (beta)</title>
</head>
<body>
{{ template "site-header.html" .}}

<div class="main"><div class="tiles-container" id="brands">

		<div class="tile" id="supreme">
			<div class="more-info">
				<div class="desc">
					<p>THE NEW AGE
					<br/><em>FURNITURE</em>
					<br/>FROM
					<br/><strong>SUPREME</strong></p>
				</div>
				<div class="links">
					<a href="comingsoon">see catalogues</a>
					<a href="comingsoon">gallery</a>
				</div>
			</div>
			<div class="info">
				<p class="title">Supreme Furniture</p>
			</div>
		</div>

		<div class="tile" id="kisan">
			<div class="more-info">
				<div></div>
				<div class="links">
					<a href="comingsoon">see catalogues</a>
					<a href="comingsoon">gallery</a>
				</div>
			</div>
			<div class="info">
				<p class="title">Kisan Moulded Furniture</p>
			</div>
		</div>

		<div class="tile" id="maharaja-metro">
			<div class="more-info">
				<div></div>
				<div class="links">
					<a href="comingsoon">see catalogues</a>
					<a href="comingsoon">gallery</a>
				</div>
			</div>
			<div class="info">
				<p class="title">Maharaja Metro</p>
			</div>
		</div>

		<div class="tile" id="avro">
			<div class="more-info">
				<img src="https://cdn.shopify.com/s/files/1/0031/8809/7069/files/AV.png" class="desc"></img>
				<div class="links">
					<a href="comingsoon">see catalogues</a>
					<a href="comingsoon">gallery</a>
				</div>
			</div>
			<div class="info">
				<p class="title">AVRO Furniture</p>
			</div>
		</div>

		<div class="tile" id="coirfit">
			<div class="more-info">
				<div></div>
				<div class="links">
					<a href="comingsoon">see catalogues</a>
					<a href="comingsoon">gallery</a>
				</div>
			</div>
			<div class="info">
				<p class="title">Coirfit Mattress</p>
			</div>
		</div>

		<div class="tile" id="action">
			<div class="more-info">
				<div>
				</div>
				<div class="links">
					<a href="comingsoon">see catalogues</a>
					<a href="comingsoon">gallery</a>
				</div>
			</div>
			<div class="info">
				<p class="title">Actionware</p>
			</div>
		</div>

</div></div>

{{ template "site-bottom-menu.html" .}}
{{ template "site-footer.html" .}}
{{ template "site-contactpage.html" .}}
</body>
</html>
