<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/extras.css" type="text/css"/>
	<link rel="stylesheet" href="css/brands.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kalawati Enterprises Homepage (beta)</title>
</head>
<body>
{{ template "navbar.html" .}}
<div class="main">
<div id="brands">
	<!--div class="brand" id=""><a href=""><span class="brand-info"><h4></h4><p></p></span></a></div-->
	<div class="brand" id="rem"><a href="/"><span class="brand-info"><h4>Rem</h4><p>Re:Zero Kara Hajimaru Isekai Seikatsu</p></span></a></div>
	<div class="brand" id="hachiman"><span class="brand-info"><h4>Hikigaya Hachiman</h4><p>Yahari OreGaIru</p></span></div>
	<div class="brand" id="rem"><span class="brand-info"><h4>Rem</h4><p>Re:Zero Kara Hajimaru Isekai Seikatsu</p></span></div>
	<div class="brand" id="hachiman"><span class="brand-info"><h4>Hikigaya Hachiman</h4><p>Yahari OreGaIru</p></span></div>
	<div class="brand" id="hachiman"><span class="brand-info"><h4>Hikigaya Hachiman</h4><p>Yahari OreGaIru</p></span></div>
	<div class="brand" id="rem"><span class="brand-info"><h4>Rem</h4><p>Re:Zero Kara Hajimaru Isekai Seikatsu</p></span></div>
	<div class="brand" id="hachiman"><span class="brand-info"><h4>Hikigaya Hachiman</h4><p>Yahari OreGaIru</p></span></div>
	<div class="brand" id="rem"><span class="brand-info"><h4>Rem</h4><p>Re:Zero Kara Hajimaru Isekai Seikatsu</p></span></div>
</div>
</div>
{{ template "footer.html" .}}
</body>
</html>
