<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/extras.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kalawati Enterprises Homepage (beta)</title>
</head>
<body>
{{ template "navbar.html" .}}
<div class="main">
	<div class="textbox" id="contact-form">
		<form method="post">
			<label for="fullname">Name: </label>
			<input type="text" id="fullname" name="fullname"></input>
			<br>
			<label for="email">Email: </label>
			<input type="text" id="email" name="email"></input>
			<br>
			<label for="email">Phone: </label>
			<input type="text" id="phone" name="phone"></input>
			<br>
			<label for="email">Message: </label>
			<input type="text" id="message" name="message"></input>
			<br>
			<input type="submit" value="Submit">
		</form>
	</div>
</div>
{{ template "footer.html" .}}
</body>
</html>
