<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/contact.css" type="text/css"/>
	<script src="https://kit.fontawesome.com/b26fa8d786.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact Us Kalawati Enterprises (MEGA beta)</title>
</head>
<body>
{{ template "site-header.html" .}}

<div class="main" id="main"><div class="content-blocks">

	<div class="content-block" id="form-container">
		<div class="form">
                        <form method="post">
					<label for="fullname">Name:</label><br/>
					<input type="text" id="fullname" name="fullname" class="textbox"></input><br/>
                                        
					<label for="email">Email:</label><br/>
					<input type="text" id="email" name="email" class="textbox"></input><br/>
					
					<label for="phone">Phone:</label><br/>
					<input type="text" id="phone" name="phone" class="textbox"></input><br/>

					<label for="message">Message:</label><br/>
					<textarea id="message" name="message" rows="2" class="textbox"></textarea><br/>

					<br/><input type="submit" value="Submit" class="submit"></input><br/>
                        </form>
		</div>
                <div class="form-prompt">
			<p>
				Also available at:
			</p>
			<span class="social-links">
			</span>
                </div>
	</div>

</div></div>
<!-->
{{ template "site-bottom-menu.html" .}}
{{ template "site-footer.html" .}}
<-->
</body>
</html>
