<div class="footer">
        <hr class="footer-hr">
        <div class="footer-intro">
                <p id="footer-intro-title">Kalawati Enterprises</p><p id="footer-intro-subtitle">Durability & Style</p>
        </div>
        <div class="footer-flex-container">
                <div class="footer-flex-content">
                </div>
                <div class="footer-flex-content">
                </div>
                <div class="footer-flex-content">
                </div>
        </div>
</div>

