<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<script src="https://kit.fontawesome.com/b26fa8d786.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kalawati Enterprises Homepage (beta)</title>
</head>
<body>
{{ template "site-header.html" .}}

<div class="main" id="main"><div class="content-blocks">

	<div class="content-block" id="intro">
		<h1 align="center" class="heading">Welcome to Kalawati Enterprises homepage!</h1>
		<p align="center" class="text">We've got the most durable products in moulded plastic furniture and household products while also caring about style.</p>
	</div>

	<div class="content-block">
		<p>This is a test for a button</p>

			<div>
				<a href="https://google.com/">
					<button class="button" id="locate-button">Locate Us</button>
				</a>
			</div>
	</div>

</div></div>

{{ template "site-bottom-menu.html" .}}
{{ template "site-footer.html" .}}
{{ template "site-contactpage.html" .}}
</body>
</html>
