<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/extras.css" type="text/css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Kalawati Enterprises Homepage (beta)</title>
</head>
<body>
{{ template "site-header.html" .}}

<div class="main">
	<div class="textbox" id="intro">
	<h1 class="heading">Welcome to Kalawati Enterprises homepage!</h1>
	<p class="text">We've got the most durable products in moulded plastic furniture and household products while also caring about style.</p>
	</div>
</div>

{{ template "site-footer.html" .}}
</body>
</html>
