<div id="head">
        <div class="KE">
                <a href="https://kalawatienterprises.com" class="site-title">
                        Kalawati Enterprises
                </a>
                <a href="" class="site-subtitle">
                        Durability & Style
                </a>
        </div>
        <span id="locate-button-container">
                <a href="https://duckduckgo.com" id="locate-link"><button type="button" id="locate-button">Locate US</button></a>
        </span>
        <div id=navbar>
        <a href="/">Home</a>
        <a href="brands">Brands</a>
        <!--
        <a href="news">News</a>
        <a href="contact">Contact</a>
        <a href="about">About</a>
        -->
        </div>
</div>
