<div class="head">

	<a><div class="site-title-container" style=" display: none;">
                <p href="https://kalawatienterprises.com" class="site-title">Kalawati Enterprises</a>
                <p href="/" class="site-subtitle">Durability & Style</a>
	</div></a>

        <span id="locate-button-container" style=" display: none;">
                <a href="https://duckduckgo.com" id="locate-link"><button type="button" id="locate-button">Locate US</button></a>
        </span>

        <div class="navbar">
		<nav>
        		<a href="/">Home</a>
        		<a href="brands">Brands</a>
        		<a href="contactus">Contact</a>
        		<a href="about">About</a>
        		<!--
        		<a href="news">News</a>
        		-->
		</nav>
        </div>

</div>
