<div class="footer">
        <hr>
        <div class="site-title-container">
                <p class="site-title">Kalawati Enterprises</p><p class="site-subtitle">Durability &amp; Style</p>
        </div>
        <div class="flex-container">
                <div class="flex-content" class="address-container">
			<p class="title">Our address, just in case <a href="">this link</a> doesn't work:</p>
			<span class="address">
				<p>Kalawati Enterprises,</p>
				<p>Meham Road, Bhiwani (Haryana)</p>
				<p>Landmark: Next to Ranveer Hospital</p>
				<br/>
				<p class="contact-email"><i class="fa fa-envelope"></i> <a href="mailto:shreekant40@gmail.com">shreekant40@gmail.com</a></p>
				<p class="contact-number"><i class="fa fa-phone-alt"></i> <i class="fa fa-whatsapp"></i> <a href="tel:+919215572199">+919215572199</a></p>
			</span>
		</div>

		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3496.2928964970715!2d76.14350021463385!3d28.80034428321784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391266cfb047e691%3A0x844ff4300770443c!2sKalawati%20Enterprises!5e0!3m2!1sen!2sin!4v1616163473985!5m2!1sen!2sin" allowfullscreen="" loading="lazy" class="map"></iframe>
        </div>
</div>
