<div class="footer">
        <hr>
        <div class="site-title-container">
                <p class="site-title">Kalawati Enterprises</p><p class="site-subtitle">Durability &amp; Style</p>
        </div>
        <div class="flex-container">
                <div class="flex-content" class="address-container">
			<p class="title">Our address, just in case <a href="">this link</a> doesn't work:</p>
			<span class="address">
				<p>Kalawati Enterprises,</p>
				<p>Meham Road, Bhiwani (Haryana)</p>
				<p>Landmark: Next to Ranveer Hospital</p>
				<br/>
				<p class="contact-email"><i class="fa fa-envelope"></i> <a href="mailto:shreekant40@gmail.com">shreekant40@gmail.com</a></p>
				<p class="contact-number"><i class="fa fa-phone-alt"></i> <i class="fa fa-whatsapp"></i> <a href="tel:+919215572199">+919215572199</a></p>
			</span>
		</div>

                <div class="flex-content"></div>
		<div class="flex-content"></div>
        </div>
</div>
