<div class="head">

	<div class="site-title-container">
		<a href="/" class="site-title">Kalawati Enterprises</a>
                <a href="/" class="site-subtitle">Durability & Style</a>
	</div>

	<div class="locate-button">
		<button class="button" id="locate-button">Locate Us</button>
	</div>

	<nav class=navbar>
       		<a href="/">Home</a>
       		<a href="brands">Brands</a>
       		<a href="contact">Contact</a>
       		<a href="about">About</a>
       		<!--
       		<a href="news">News</a>
       		-->
	</nav>

</div>
