<div class="head">

	<div class="site-title-container">
		<a href="/" class="site-title">Kalawati Enterprises</a>
                <a href="/" class="site-subtitle">Durability & Style</a>
	</div>

	<!-- TODO: this shit's illegal in html5-->
        <span id="locate-button-container" style=" display: none;">
                <a href="https://duckduckgo.com" class="locate-button"><button type="button" id="locate-button">Locate US</button></a>
        </span>

	<nav class=navbar>
       		<a href="/">Home</a>
       		<a href="brands">Brands</a>
       		<a href="contactus">Contact</a>
       		<a href="about">About</a>
       		<!--
       		<a href="news">News</a>
       		-->
	</nav>

</div>
