<div class="footer">
        <hr>
        <div class="site-title-container">
                <p class="site-title">Kalawati Enterprises</p><p class="site-subtitle">Durability &amp; Style</p>
        </div>
        <div class="flex-container">
                <div class="flex-content"></div>
                <div class="flex-content"></div>
		<div class="flex-content"></div>
		<div class="flex-content"></div>
		<div class="flex-content"></div>
		<div class="flex-content"></div>
		<div class="flex-content"></div>
		<div class="flex-content"></div>
		<div class="flex-content"></div>
        </div>
</div>
