<div class="bottom-menu">
	<span class="menu-buttons">
		<button class="fixed-button">Locate Us</button>
		<button class="fixed-button">Contact Us</button>
	</span>

	<span class="social-links">
		<a href="https://www.facebook.com/shrikant.sharma.5/"><span class="fa fa-facebook"></span></a>
		<a href="https://www.instagram.com/shreekant40"><span class="fa fa-instagram"></span></a>
		<a href="https://www.youtube.com/c/kalawatienterprises/"><span class="fa fa-youtube"></span></a>
		<a href="https://www.twitter.com/SHRI_KANTSHARMA?s=08"><span class="fa fa-twitter"></span></a>
	</span>
</div>
