<!DOCTYPE html>
<html lang="en-IN">
<head>
	<link rel="stylesheet" href="css/main.css" type="text/css"/>
	<link rel="stylesheet" href="css/thankyou.css" type="text/css"/>
	<script src="https://kit.fontawesome.com/b26fa8d786.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Thanks For Contacting Us | Kalawati Enterprises</title>
</head>
<body>
{{ template "site-header.html" .}}

<div class="main" id="main"><div class="content-blocks">

		<span class="message">
			<h1>We've got your response.</h1>
		</span>
		<div class="form-data-container">
			<p>Name: <span class="form-data">{{ .name }}</span> </p>
			<p>E-mail: <span class="form-data">{{ .email }}</span> </p>
			<p>Phone: <span class="form-data">{{ .phone }}</span> </p>
			<p>Message: <span class="form-data">{{ .message }}</span> </p>
		</div>
		<span class="message">
			<p>Please wait and expect to be contacted within 24 business hours</p>
			<p>Until then, take a look at out <a href="brands">product range!</a></p>
		</span>

</div></div>
{{ template "site-bottom-menu.html" .}}
{{ template "site-footer.html" .}}
{{ template "site-contactpage.html" .}}
</body>
</html>
